/* src/app/globals-desktop.css */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Desktop Styles */
.navbar {
  background-color: #006400;
}

.menu-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.submenu-container {
  background-color: gold;
  color: black;
  display: none;
  position: absolute;
  top: 100%; /* Ensures submenu is directly below the menu item */
  left: 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu-item:focus + .submenu-container,
.menu-item:hover + .submenu-container,
.submenu-container:hover {
  display: block;
}

.submenu-container a {
  color: black;
  display: block;
  padding: 5px 10px;
}

.submenu-container a:hover {
  background-color: gold;
  color: blue;
  font-weight: bold;
}

.clerk-custom-class .specific-element {
  font-size: 11pt;
}

